@model ProjektWSB.Models.Menu

@{
    ViewBag.Title = "Usuwanie dania";
}

<h2>Usuwanie dania z menu</h2>

<h3>Jesteś pewien?</h3>
<div>
    <hr />

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
