@model ProjektWSB.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Panel użytkownika</h2>

<p>
    @Html.ActionLink("Uzupełnij dane restauracji", "Create", "Restaurants")
</p>
<p>
    @Html.ActionLink("Moje menu", "Index", "Menus")
</p>
<p>
    @Html.ActionLink("Wyloguj", "Logout")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}